<div class="flex flex-col items-center justify-center p-6">
  <div class="flex items-center max-w-md mx-auto">
    <input
      type="text"
      placeholder="Enter GitHub username"
      class="flex-1 p-2 border-2 border-r-0 border-gray-300 rounded-l-md focus:outline-none focus:border-blue-500"
      [(ngModel)]="githubUsername"
    />
    <button
      class="px-4 py-2 bg-blue-500 text-white rounded-r-md hover:bg-blue-600"
      (click)="searchUserData()"
    >
      Search
    </button>
  </div>

  <div *ngIf="isLoading; else userDataSection" class="full-page-loader">
    <!-- Skeleton loader -->
    <div class="skeleton-user-info">
      <div class="skeleton-avatar"></div>
      <div class="skeleton-text"></div>
      <div class="skeleton-text"></div>
      <div class="skeleton-text"></div>
      <div class="skeleton-text"></div>
    </div>
  </div>
  <!-- Other parts of your HTML template -->

  <div *ngIf="userNotFound" class="mt-4">
    <p>User not found.</p>
  </div>

  <!-- Other parts of your HTML template -->

  <ng-template #userDataSection>
    <div *ngIf="userData" class="mt-4">
      <img
        [src]="userData.avatar_url"
        alt="User avatar"
        class="w-24 h-24 rounded-full"
      />
      <h2 class="text-xl font-semibold">{{ userData.login }}</h2>
      <p>Followers: {{ userData.followers }}</p>
      <p>Following: {{ userData.following }}</p>
      <p>Public Repos: {{ userData.public_repos }}</p>
      <p>
        <a
          [href]="userData.html_url"
          target="_blank"
          class="text-blue-500 hover:underline hover:text-blue-600"
        >
          {{ userData.html_url }}
        </a>
      </p>

      <div *ngIf="repos && repos.length > 0" class="mt-4">
        <h3 class="text-lg font-semibold">Repositories:</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <div
            *ngFor="let repo of repos"
            class="border border-gray-300 p-4 rounded-md"
          >
            <h4 class="font-semibold text-lg">{{ repo.name }}</h4>
            <p class="text-gray-600">{{ repo.description }}</p>
            <p class="text-blue-500 hover:underline hover:text-blue-600">
              <a [href]="repo.html_url" target="_blank">View on GitHub</a>
            </p>
            <p class="text-sm text-gray-500 mt-2">
              Tech Stack: {{ repo.language }}
            </p>
          </div>
        </div>
      </div>

      <div *ngIf="!isLoading && (!repos || repos.length === 0)" class="mt-4">
        <p>No repositories found for this user.</p>
      </div>
    </div>

    <div class="flex items-center justify-between mb-4" *ngIf="totalPages">
      <button
        class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md"
        (click)="prevPage()"
      >
        Previous
      </button>
      <span>{{ currentPage }} / {{ totalPages }}</span>
      <button
        class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md"
        (click)="nextPage()"
      >
        Next
      </button>
    </div>
  </ng-template>
</div>
